@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
body {
    height: 1vh;
    margin: 0;

    background-image: url("./images/fondo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

#game {
    position: absolute;
    font-family: 'Monoton', cursive;
    background-image: url("./images/game.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 850px;
    height: 920px;
    display: flex;
    border: solid #2c9cbe 7px;
}

.container {
    display: flex;
    position: relative;
}

#ball {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("./images/ball.png");
    background-color: transparent;
    border-radius: 100%;
    left: 400px;
    top: 450px;
}

.score {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-color: transparent;
    right: 120px;
    width: 350px;
    height: 150px;
}

.life {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Monoton', cursive;
    position: absolute;
    left: 120px;
    width: 350px;

    height: 150px;
}

.night {
    background: rgba(0, 0, 80, 0.1);
    position: absolute;
    width: 850px;
    height: 920px;
}

.night1 {
    background: rgba(0, 0, 80, 0.2);
    position: absolute;
    width: 850px;
    height: 920px;
}

.night2 {
    background: rgba(0, 0, 80, 0.3);
    position: absolute;
    width: 850px;
    height: 920px;
}

.night3 {
    background: rgba(0, 0, 80, 0.4);
    position: absolute;
    width: 850px;
    height: 920px;
}

.night4 {
    background: rgba(0, 0, 80, 0.5);
    position: absolute;
    width: 850px;
    height: 920px;
}

.night5 {
    background: rgba(0, 0, 80, 0.6);
    position: absolute;
    width: 850px;
    height: 920px;
}

#paddle {
    position: absolute;
    width: 175px;
    height: 50px;
    background-image: url("./images/paddle.png");
    background-repeat: no-repeat;
    background-size: 100%;
    left: 337px;
    top: 825px;
}

.brick {
    background-image: url("./images/cloud1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 100px;
    height: 20px;
}

.start {
    display: flex;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    width: 860px;
    height: 930px;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

#start-button {
    background-color: transparent;
    width: 201px;
    height: 105px;
    margin: 100px auto;
    background-image: linear-gradient(to left, rgb(153, 152, 152), rgb(133, 122, 59));
    background-image: URL("./images/start.png");
    background-color: hsl(58, 100%, 50%);
    border: px inset white;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    animation: brath 8s linear infinite;
    box-shadow: -1px 0px 10px #000;
    cursor: pointer;
}

.gameover {
    display: flex;
    background-image: url("./images/gameover.jpg");
    width: 860px;
    height: 930px;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.victory {
    display: flex;
    background-image: url("./images/win.png");
    width: 860px;
    height: 930px;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

#restart-button {
    background-color: transparent;
    width: 201px;
    height: 105px;
    margin: 100px auto;
    background-image: linear-gradient(to left, rgb(153, 152, 152), rgb(133, 122, 59));
    background-image: URL("./images/restart.png");
    background-color: hsl(58, 100%, 50%);
    border: px inset white;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    animation: brath 8s linear infinite;
    box-shadow: -1px 0px 10px #000;
    cursor: pointer;
}

#play-again-button {
    background-color: transparent;
    width: 201px;
    height: 105px;
    margin: 100px auto;
    background-image: linear-gradient(to left, rgb(153, 152, 152), rgb(133, 122, 59));
    background-image: URL("./images/pagain.png");
    background-color: hsl(58, 100%, 50%);
    border: 4px inset white;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    animation: brath 8s linear infinite;
    box-shadow: -1px 0px 10px #000;
    cursor: pointer;
}

.off {
    display: none;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes brath {
    0% {
        transform: scale(.9);
    }

    25% {
        transform: scale(1);
    }

    60% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}