body {
    height: 1vh;
    margin: 0;
    background-image: url("./images/fondo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

#game {
    position: absolute;
    background-image: url("./images/game.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 850px;
    height: 920px;
    display: flex;
    border: solid #2c9cbe 7px;
}

.container {
    display: flex;
    position: relative;
}

#ball {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("./images/ball.png");
    background-color: transparent;
    border-radius: 100%;
    left: 400px;
    top: 450px;
}

.score {
    position: absolute;
    right: 120px;
    width: 350px;
    border: steelblue solid 5px;
    height: 150px;
}

.life {
    position: absolute;
    left: 120px;
    width: 350px;
    border: steelblue solid 5px;
    height: 150px;
}

#paddle {
    position: absolute;
    width: 175px;
    height: 50px;
    background-image: url("./images/paddle.png");
    background-repeat: no-repeat;
    background-size: 100%;
    left: 337px;
    top: 825px;
}

.brick {
    background-image: url("./images/cloud1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 100px;
    height: 20px;
}

.start {
    display: flex;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    width: 860px;
    height: 930px;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

#start-button {
    background-image: url("./images/Start.png");
    background-color: transparent;
    width: 200px;
    height: 85px;
}

.gameover {
    display: flex;
    background-color: transparent;
    width: 860px;
    height: 930px;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.victory {
    display: flex;
    background-color: transparent;
    width: 860px;
    height: 930px;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

#restart-button {
    height: 50px;
}

.off {
    display: none;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
}