body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
}

#game {
    position: absolute;
    width: 850px;
    height: 1100px;
    background-color: blue;
    display: flex;
    border: solid white 10px;
}

.container {
    display: flex;
    position: relative;
}

#ball {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 100%;
    left: 400px;
    top: 450px;
}

#paddle {
    position: absolute;
    width: 175px;
    height: 5px;
    background-color: brown;
    left: 337px;
    top: 900px;
}

.brick {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: orange;
    border: solid 5px;
}


.start {
    display: flex;
    background-color: red;
    width: 860px;
    height: 1100px;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

#start-button {
    height: 50px;
}

.gameover {
    display: flex;
    background-color: red;
    width: 860px;
    height: 1100px;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.victory {
    display: flex;
    background-color: greenyellow;
    width: 860px;
    height: 1100px;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

#restart-button {
    height: 50px;
}


.off {
    display: none;
}